body{
    margin: 0;
    font-family: 'Roboto', 'sans-serif';
    color: #333;
    background: #FFF1E5;
    font-size: 16px;
   }
   
   section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
   }

   section2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/hero.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    min-height: 600px;
    padding: 100px 20vw;
   }

   header {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    padding: 10px 10vw 10px 10vw;
    transition: background-color 0.3s ease; /* Add transition for smooth color change */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow for a subtle effect */
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }


   footer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100px;
    padding: 50px 10vw 40px 10vw;
    font-size: 16px;
   }

   .midpeach{
    background: #FFD8B1;
   }

   .lightpeach{
    background: #FFF1E5;
   }

   .blue{
    background: #e8e8f8;
   }

   .black{
    background: #000000;
   }

   .offwhite{
    background: #F5F5F5;
   }

   .darkgrey{
    background: #c2c0c0;
   }

   .offwhitetext{
    color: #F5F5F5;
   }

.wrapper {
    padding-top: 50px;
    display: grid;
    place-items: center center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content;
    width: 100%;
    grid-auto-rows: 200px;
    column-gap: 10px;
    row-gap: 110px;
    }

   .wrapper > * {
        padding: 3px;
        border-top: 1px solid #c2c0c0;
        border-bottom: 1px solid #c2c0c0;
    }

  .wrapper2 {
    display: grid;
    place-items: center center;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    grid-auto-rows: 200px;
    column-gap: 10px;
    row-gap: 1em;
  }

  .wrapper img {
    width: auto;
    height: 300px;
    object-fit: contain; /* or use 'cover' if you want the image to fill the grid cell */
}

/* Shared styles for links */
.nav-link li a{
    font-family: 'Roboto', 'sans-serif';
    font-size: 16px;
    color: #2e2d2d;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transition: color 0.5s ease, border-bottom 0.5s ease;
    margin-right: 30px;
}

/* Remove bullet points from the navigation */
.nav-link {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    font-weight: bold;
}

/* Change the color of links on hover */
.nav-link li a:hover {
    color: #888787;
    border-bottom: 3px solid #FFD8B1;
}

/* Change the color of links on active state */
.nav-link li a.active {
    border-bottom: 3px solid #FFD8B1;
}

/* Style the buttons */
button {
    padding: 5px 25px;
    background-color: rgba(255, 216, 177, 1);
    border: 1px solid transparent;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.5s ease, border 0.5s ease;
    font-family: 'Roboto', 'sans-serif';
    font-size: 16px;
    color: #2e2d2d;
}

/* Change button styles on hover */
button:hover {
    background-color: rgba(255, 216, 177, 0.8);
    border: 1px solid #888787;
}

h{
    font-size: 28px;
    font-weight: bold;
}

h2{
    font-size: 20px;
    font-weight: normal;
}

h3{
    font-size: 20px;
    font-weight: normal;
    padding-left: 10px;
}

/* Setting list item styles */


/* Format list with bullets */
ul {
    list-style-type: square;
}

/* Format the large header logo */
.logo2 {
    width: auto;  /* Adjust as needed */
    height: 100px;  /* Keep the aspect ratio */
    cursor: pointer;
}

/* Format the footer logo */
.logo {
    width: 50px;  /* Adjust as needed */
    height: auto;  /* Keep the aspect ratio */
    display: block;
    text-align: center;
}

/*format the copyright*/

.copyright{
    font-size: 12px;
}


.industry{
    max-width: 100%;  /* The image will not be wider than its container */
    max-height: 100%;  /* The image will not be taller than its container */
    display: block;
    text-align: center;
}