body{
    margin: 0;
    font-family: 'Roboto', 'sans-serif';
    color: #333;
    background: #FFF1E5;
    font-size: 16px;
   }
   
/* Import compass */
   @import "compass";

/*contact form*/
.contact-form{
    margin-top: 30px;
    .input-block{
        background-color: rgba(white, .8);
        border: solid 1px #FFD8B1;
        width: 100%;
        height: 60px;
        padding: 25px;
        position: relative;
        margin-bottom: 20px;
        @include transition(all 0.3s ease-out);
        &.focus{
            background-color: white;
            border: solid 1px darken(#FFD8B1, 10%);
        }
        &.textarea{
            height: auto;
            .form-control{
                height: auto;
                resize: none;
            }
        }
        label{
            position: absolute;
            left: 25px;
            top: 25px;
            display: block;
            margin: 0;
            font-weight: 300;
            z-index: 1;
            color: #333;
            font-size: 18px;
            line-height: 10px;
        }
        .form-control{
            background-color: transparent;
            padding: 0;
            border: none;
            border-radius: 0;
            box-shadow: none;
            height: auto;
            position: relative;
            z-index: 2;
            font-size: 18px;
            color: white;
        }
        .form-control:focus{
            label{
                top: 0;
            }
        }
    }
    .square-button{
        background-color: rgba(white, .8);
        color: darken(#FFF1E5, 10%);
        font-size: 26px;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        border-radius: 2px;
        transition: all 0.3s ease;
        padding: 0 60px;
        height: 60px;
        border: none;
        width: 100%;
        &:hover,
        &:focus{
            background-color: white;
        }
    }
}

/*tablet and above devices*/
@media (min-width: 768px) { 
  .contact-wrap{
    width: 60%;
    margin: auto;
  }
}
/*----page styles---*/

.contact-wrap{
  padding: 15px;
}

/*----End of contact form---*/

   section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
   }

   section2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/hero.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    min-height: 600px;
    padding: 100px 20vw;
   }

   #header {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 40px;
    padding: 10px 10vw 10px 10vw;
    transition: background-color 0.3s ease; /* Add transition for smooth color change */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow for a subtle effect */
    }

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }


   footer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100px;
    padding: 50px 10vw 40px 10vw;
    font-size: 16px;
   }

   .midpeach{
    background: #FFD8B1;
   }

   .lightpeach{
    background: #FFF1E5;
   }

   .blue{
    background: #e8e8f8;
   }

   .black{
    background: #000000;
   }

   .offwhite{
    background: #F5F5F5;
   }

   .darkgrey{
    background: #c2c0c0;
   }

   .offwhitetext{
    color: #F5F5F5;
   }

.wrapper {
    padding-top: 50px;
    display: grid;
    place-items: center center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content;
    width: 100%;
    grid-auto-rows: 200px;
    column-gap: 10px;
    row-gap: 110px;
    }

   .wrapper > * {
        padding: 3px;
        border-top: 1px solid #c2c0c0;
        border-bottom: 1px solid #c2c0c0;
    }

  .wrapper2 {
    padding-top: 10px;
    display: grid;
    place-items: center center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: min-content;
    width: 100%;
    grid-auto-rows: 200px;
    column-gap: 10px;
    row-gap: 110px;
  }

  .wrapper2 > * {
    padding: 3px;
    border-top: 1px solid #c2c0c0;
    border-bottom: 1px solid #c2c0c0;
}

.wrapper2 img {
    width: auto;
    height: 300px;
    object-fit: contain; /* or use 'cover' if you want the image to fill the grid cell */
}

  .wrapper img {
    width: auto;
    height: 300px;
    object-fit: contain; /* or use 'cover' if you want the image to fill the grid cell */
}

.wrapper3 {
    padding-top: 10px;
    display: grid;
    place-items: left center;
    grid-template-columns: 0.6fr 1.5fr 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr;
    width: 100%;
    column-gap: 10px;
  }

.wrapper3 img {
    width: auto;
    height: 200px;
    object-fit: cover; /* or use 'cover' if you want the image to fill the grid cell */
}

.two-box {
    grid-column: span 2; /* This will make the item span 2 columns */
    grid-row: span 1; /* This will make the item span 2 rows */
  }


/* Shared styles for links */
.nav-link li a{
    font-family: 'Roboto', 'sans-serif';
    font-size: 16px;
    color: #2e2d2d;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transition: color 0.5s ease, border-bottom 0.5s ease;
    margin-right: 15px;
    margin-left: 15px;
}

/* Remove bullet points from the navigation */
.nav-link {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    font-weight: bold;
    align-items: center;
    flex-shrink: 0;
}

/* Change the color of links on hover */
.nav-link li a:hover {
    color: #888787;
    border-bottom: 3px solid #FFD8B1;
}

/* Change the color of links on active state */
.nav-link li a.active {
    border-bottom: 3px solid #FFD8B1;
}

/* Style the buttons */
button {
    padding: 5px 25px;
    background-color: rgba(255, 216, 177, 1);
    border: 1px solid transparent;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.5s ease, border 0.5s ease;
    font-family: 'Roboto', 'sans-serif';
    font-size: 16px;
    color: #2e2d2d;
}

/* Change button styles on hover */
button:hover {
    background-color: rgba(255, 216, 177, 0.8);
    border: 1px solid #888787;
}

.get-in-touch {
    margin-left: auto;
}

h{
    font-size: 28px;
    font-weight: bold;
}

h2{
    font-size: 20px;
    font-weight: normal;
}

h3{
    font-size: 20px;
    font-weight: normal;
    padding-left: 10px;
}

h4{
    font-size: 16px;
    font-weight: normal;
    margin: 2px;
}

h5{
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 5px;
}

h6{
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 5px;
}


/* Setting list item styles */


/* Format list with bullets */
ul {
    list-style-type: disc;
}

/* Format the large header logo */
.logo2 {
    max-width: auto;  /* Adjust as needed */
    height: 100px;  /* Keep the aspect ratio */
    cursor: pointer;
    display: block;
    text-align: center;
    justify-content: center;
}

/* Format the footer logo */
.logo {
    width: 50px;  /* Adjust as needed */
    height: auto;  /* Keep the aspect ratio */
    display: block;
    text-align: center;
    justify-content: center;
}

/*format the copyright*/

.copyright{
    font-size: 12px;
}


.industry{
    max-width: 100%;  /* The image will not be wider than its container */
    max-height: auto;  /* The image will not be taller than its container */
    display: block;
    text-align: center;
}

.headshot{
    max-width: 100%;  /* The image will not be wider than its container */
    max-height: auto;  /* The image will not be taller than its container */
    display: block;
    text-align: center;
}